{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron text-center bg-dark text-white p-0 m-0" style="border-radius: 0 !important; height: 100vh">
        <h1 class="display-4 font-weight-bold pt-5">Вы вышли из системы</h1>
        <p class="lead">ProPlanner помогает вашей команде следить за проектами, управлять задачами и улучшать процесс разработки.</p>
        <hr class="my-4">
        <p>Спасибо за использование нашего сервиса. Надеемся увидеть вас снова.</p>
        <a href="#" class="btn btn-primary">Войти снова</a>
    </div>
{% endblock %}