{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center text-black" style="background-color: #808080 !important">
  <h1 class="display-4 font-weight-bold">Вы вышли из системы</h1>
  <p class="lead">ProPlanner помогает вашей команде следить за проектами, управлять задачами и улучшать процесс разработки.</p>
  <hr class="my-4">
  <p>Спасибо за использование нашего сервиса. Надеемся увидеть вас снова.</p>
  <a href="#" class="btn btn-primary">Войти снова</a>
</div>
{% endblock %}